<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.nishchay.shake_alarm">

    
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/acc_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <service android:enabled="true"
         android:icon="@drawable/acc_icon"
         android:name=".AlarmService">
    
		</service>
        <activity
            android:name="com.example.nishchay.shake_alarm.MainActivity"
            android:label="@string/app_name" 
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.nishchay.shake_alarm.Set_Alarm"
            android:label="@string/title_activity_set__alarm"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.nishchay.shake_alarm.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nishchay.shake_alarm.MainActivity" />
        </activity>
        <activity
            android:name="com.example.nishchay.shake_alarm.Alert"
            android:label="@string/title_activity_Alert"
            android:screenOrientation="portrait">
            </activity>
        <activity
            android:name="com.example.nishchay.shake_alarm.CurrentAlarms"
            android:label="@string/title_activity_CurrentAlarms"
            android:screenOrientation="portrait"
            android:parentActivityName="com.example.nishchay.shake_alarm.MainActivity"
            tools:ignore="UnusedAttribute">
            <meta-data 	
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.nishchay.shake_alarm.MainActivity" />
            
        </activity>
        
        
    </application>

</manifest>
